#timeStampDisplay {
    position: absolute;
    top: 10px;
    right: 10px;
}

#notesContainer {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-top: 20px;
    gap: 10px;
}

#addNoteBtn {
    margin-top: 20px;
}

textarea {
    height: 55px;
}

#writerBtn {
    margin-right: 10px;
}

a {
    text-decoration: none;
}